nptyping==1.4.2
numpy==1.24.2
opencv-python-headless==4.5.4.60
pytorch-lightning==1.5.10
omegaconf==2.3.0
Pillow==9.4.0
six==1.16.0
tqdm==4.65.0
opencv-python==4.7.0.72
overrides==3.1.0
transformers==4.28.1
seqeval==1.2.2
imagesize==1.4.1
timm==0.6.13

tensorboard>=2.2.0

# code-style
isort==5.9.3
black==21.9b0

# for debug
# ipdb

# pytorch
# --find-links https://download.pytorch.org/whl/torch_stable.html
# torch==1.8.1+cu101
# torchvision==0.10.1+cu102